/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Outfit', sans-serif;
    text-align: center;

}


/* *** HEADER *** */

header{
    max-width: 1080px;
    margin: auto;
    padding: 40px;
}
header img{
    height: 90px;
}
header h1{
    margin-top: 10px;
    font-size: 50px;
}

/* *** MAIN *** */

.container{
    max-width: 1080px;
    margin: auto;
}

.container input {
    border: none;
    border: 1px solid black;
}
.container button{
    padding: 3px 10px;
    background-color: chartreuse;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.container button,
.container input{
    font-size: 20px;
}

.container .list-box{
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.list-box li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 5px 0;
}
.list-box li:not(:last-child){
    border-bottom: 1px solid black;
}

/* *** FOOTER *** */

/* *** DEBUG *** */

