<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap" rel="stylesheet"> 
    <!-- /Google Fonts -->
    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- /Font Awsome -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="root">

        <header>
            <div class="container">
                <img src="https://www.boolean.careers/images/misc/logo.png" alt="logo">
                <h1>To do List</h1>
            </div>
        </header>

        <main>
            <div class="container">

                <input type="text" placeholder="New list name" v-model="newObject.text" @keyup.enter="addList()">

                <button @click="addList()">Add</button>

                <div class="list-box">

                    <ol v-if="objects.length > 0"> 
                        <li v-for="(object, index) in objects" >
                            <input type="checkbox" v-model="objects[index].done">
                            <span :class="objects[index].done == true ? 'line-through' : '' ">{{object.text}}</span>
                            <i class="fas fa-times" @click="remuveList(index)"></i>
                        </li>
                    </ol>

                    <h2 v-else >You seem bored... put something to do in the to do list :)</h2>

                </div>
            </div>
        </main>

    </div>
    
    <!-- development version, includes helpful console warnings --> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/myscript.js"></script>
</body>
</html>